/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.custom-navbar {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
  z-index: 1000;
  position: fixed;
  /* Assurer que la barre est fixée en haut */
  top: 0;
  width: 100%;
}

.navbar-collapse {
  position: relative;
}

@media (max-width: 992px) {

  /* Appliquer la règle uniquement en mode mobile */
  .navbar-collapse {
    position: absolute;
    /* Le menu déployé flotte au-dessus du contenu */
    top: 100%;
    /* Ajustement en fonction de la hauteur de la navbar */
    background-color: rgba(255, 255, 255, .15);
    z-index: 1000;
    /* Plus élevé que le reste du contenu */
  }
}

.navbar-brand {
  font-size: 3rem;
  letter-spacing: 3px;
}

header {
  background-size: cover;
  background-attachment: fixed;
  width: auto;
  height: 600px;
  background-image: url("../images/header.jpg");
  margin-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: white;
  font-size: 50px;
  text-shadow: 0px 0px 2px black;
}

#intro {
  margin-top: 40px;
  margin-bottom: 100px;
}

h2 {
  margin-bottom: 30px;
  padding-left: 15px;
  border-left: 8px solid #2f97e6;
}

.card{
  text-align: center;
  border-radius: 20px;
  border-top:10px solid #2f97e6;
  width: 80%;
}

p {
  margin-bottom: 30px;
}

.img-intro {
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

.btn {
  background-color: #2f97e6;
  color: white;
  font-weight: bold;
}

#background-wrapper {
  background-image: url('../images/paysage.avif');
  background-size: cover;          /* L'image couvre toute la largeur et hauteur */
  background-position: center;     /* Centre l'image */
  background-repeat: no-repeat;    /* Empêche la répétition de l'image */
  background-attachment: fixed;    /* L'image reste fixe lors du défilement */
  width: 100%;                     /* Largeur pleine page */
  height: 100vh;                   /* Hauteur pleine fenêtre */
  clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%); /* Découpe l'image en fonction du chemin défini */
  display: flex;                  /* Active Flexbox pour centrer les cartes */
  justify-content: center;        /* Centre horizontalement */
  align-items: center;            /* Centre verticalement */
}

.card{
  height: 350px;
}

.card-title{
  padding-bottom: 20px;
}

.fa-solid{
  font-size: 50px;
}